<div>
   {{#if isLogged}}
    <a href="/profile">My profile</a>
    <a href="/products">Prouducts</a>
   {{else}}
    <a href="/register">Register</a>
    <a href="/login">Login</a>
   {{/if}}
</div>