<div>
    <form action="/api/sessions/register" method="post">
        <label for="f_name">Firs Name:</label>
        <input type="text" id="f_name" name="first_name">

        <label for="l_name">Last Name:</label>
        <input type="text" id="l_name" name="last_name">

        <label for="email">Email:</label>
        <input type="email" name="email" id="email">

        <label for="age">Age:</label>
        <input type="number" name="age" id="age">

        <label for="password">Password:</label>
        <input type="password" name="password" id="password">

        <button type="submit">Register</button>
    </form>
</div>